<!DOCTYPE html>

<img class="Spoimage" src="images/spotify-background.jpeg" alt="spoimg" width="200">

<form action="/artist-search" method="GET">
    <label for=""></label>
    <input type="text" name="artistName">
    <button type="text">Search for an Artist</button>
</form>




